html, body {
    background-color: white;
    overflow-x: hidden; 
}

body {
    width: 100%;
    overflow: scroll;
}

.ital {
    font-style: italic;
}

/*Hero Section*/
.hero-section {
    background-image: url('images/headerimages/HeadlineImage_1_1290.jpg');
    background-size: cover;
    height: 275px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.4em;
}
span:before {
    content: "\A";
    white-space: pre;
}

span.white-text {
    color: white;
}

.red-heading-container {
    color: red;
    background: linear-gradient(-90deg, rgba(0,0,0, 0.05),rgba(255, 255, 255, 0.9), white, rgba(0,0,0, 0.01));
    width: 100;
}

.white-text-lower-container {


}

.white-text-lower-container > span {

}

/*Section 1*/
.section1-part1 {
    font-size: 1.6em;
}

.list1 {
    background-color: pink;
}


section.list1 {
    background: linear-gradient(-90deg, white, #d4b8a2, white);
    text-align: center;
}

section.list1 > ul > li {
    display: inline-block;
}

div.section1 > section.list1 > ul > li > img {
    width: 80%;
    margin: 0 42px 0 42px;
}
span.list-text {
    display: -webkit-box;
    text-align: -webkit-center;
    color: #4e381f;
    font-size: 30px;
}

.section1-part3 {
    background-color: white;
    color: black;
    width: 90%;
    margin: 0px auto;
    font-size: 1.6em;
}

.section1-list {
    list-style: none;
}

.section1-list > li:before {
    content: '✓';
}

/*parallax*/

.parallax-container {
    color: white;
}
.parallax {
    background-color: green;
    background-size: cover;
    background-image: url(images/parallaximages/ParallaxOne_5_1290.jpg);
    padding: 30px;
}

.parallax-heading {
    width: 60%;
    font-size: 1.6em;
}

.parallax-span {
    width: 45%;
    font-size: 1.2em;
}

/*Brown Bar*/

.brown-bar {
    background-color: #3d1c0f;
    color: white;
    font-size: 1.6em;
    padding: 20px 0px;
}

.doctor-image-section {
    text-align: center;
}

.brown-bar-text {
    width: 90%;
    margin: 0px auto;

}

/*Switch Section*/

.switch-section-container {
    font-size: 1.6em;
}

.switch-section {
    width: 90%;;
    margin: 0px auto;
}

