* {
    box-sizing: border-box;
}

html {
    background-color: #000;
    color: white;
    display: grid;
}

body {
    width: 1290px;
    margin: 0px auto;
    font-size: 20px;
    display: grid;
    background-color: white;
}

/*Hero Section 1*/


.hero-section {
    background-image: url("images/headerimages/HeadlineImage_1_1290.jpg");
    height: 591px;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.hero-text {
    color: white;
    font: open sans bold;
    text-align: center;
    text-transform: uppercase;
}

div.hero-section > h1:nth-child(1) {
    position: a
}

.hero-text > span {
    display: inline-block;
    background: linear-gradient(-90deg, rgba(0,0,0, 0.05),rgba(255, 255, 255, 0.9), white, rgba(0,0,0, 0.01));
}

div.hero-section > section > span > h1 > strong {
    position: relative;
    bottom: 30px;
}

.red-heading {
    color: red;
    /*background-color: white;*/
    width: 100%;
    height: 134px;
    font-size: 46px;
}

div.hero-section > section > h1:nth-child(3) > span {
    display: inherit;
}



/**/

.section1-part1 {
    background-color: white;
    color: black;
    padding: 20px 0px 20px 0px;
    width: 80%;
    margin: 0px auto;
    font-size: 26px;
}

section.list1 {
    background: linear-gradient(-90deg, white, #d4b8a2, white);
    text-align: center;
    height: 430px;
}

.img-list {
    padding: 60px 0px 60px 0px
}

div.section1 > section.list1 > ul > li {
    display: inline-block;
}

div.section1 > section.list1 > ul > li > img {
    width: 80%;
    margin: 0 42px 0 42px;
}

div.section1 > section.list1 > ul > li > img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


span.list-text {
    display: -webkit-box;
    text-align: -webkit-center;
    color: #4e381f;
    font-size: 30px;
}

/*Section 1*/

.section1 {
    background: white;
}

.section1-part3 {
    background-color: white;
    color: black;
    width: 970px;
    margin: 0px auto;
    font-size: 26px;
}

.section1-list {
  list-style: none;
}

section.section1-part-container > section > ul > li:before {
  content: '✓';
}


/*parallax*/

.parallax-container {
    background-color: white;
}

.parallax {
    background-color: green;
    height: 350px;
    background-image: url(images/parallaximages/ParallaxOne_5_1290.jpg);
    padding: 30px
}

/*Brown Bar*/

.brown-bar-container {
    background-color: white;
    height: 450px;
}

.brown-bar {
    background-color: #3d1c0f;
    height: 340px;
    margin: 45px 0px 45px 0px;
    width: 1100px;
}

div.brown-bar > img {
    float: left;
    width: 410px;
}

img.doctor-image {
    position: relative;
    bottom: 40px;
}

.brown-bar-text {
    float: right;
    width: 50%;
    font-size: 26px;
    margin: 44px;
}


/*switch section*/

.switch-section-container {
    background-color: white;
    font-size: 26px;
}

.switch-section {
    background-color: white;
    color: black;
    width: 970px;
    margin: 0px auto;
}

/*red section*/

.red-section {
    background-color: red;
    background-image: url(images/redsectionimages/Gears_15.jpg);
    padding: 30px;
    height: 540px;
}

section.redsection-text {
    /* margin: 0px 100px 0px 100px; */
    width: 970px;
    margin: 0px auto;
    font-size: 22px;
}

.red-section-heading {
    color: #FFCD2F;
}

h1.red-section-heading {
    margin-top: 55px;
}

/*Last Section*/

.last-section-container {
    background-color: white;
    background-image: url('images/lastsectionimages/TransparentArrowBkgd.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.transparent-layer {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255, 0.1), rgba(0,0,0,0.1));
}

.last-section-container1 {
    background-color: white;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.7));
    color: black;
    margin: 0px 130px;
}


.last-section-image-1 {
    width: 100%;
}

.last-section-text1, .last-section-main-text {
    width: 100%;
    padding: 30px;
    font-size: 26px;
}

.delivery-image-section {
    width: auto;
    float: right;
}

section.last-section-main-text > section.delivery-image-section > img {
    width: 280px;
}

.arrow-image {
    margin: 0px auto;
    width: 80%;
}

/*Green Section*/

.green-order {
    background-color: #485f42;
    margin: 0px auto;
    text-align: center;
    height: 320px;
}

.green-banner-image {
    width: 100%;
}

/*Add to Cart*/

.cart-button {
    margin: 0px auto;
    width: 35%;
    text-align: center;
    background-color: #E47E25;
    border: 14px solid white
}

.product-label {
    text-align: center;
}

.product-label a {
    color: #2BB673;
}

section.copyright > span {
    display: inherit;
    margin: 0px auto;
    text-align: center;
}


/*Responsive Design Elements*/

@media only screen and (max-width: 1024px) {
    main {
        width: 100%;
    }
    /*Section 1*/
    .section1-part1 {
        font-size: 50px;
        padding: 0px;
        text-align: center;
    }
    
    section.list1 {
        height: auto;
    }

    span.list-text {
        font-size: 50px;
    }
    body > main > div.section1 > section.section1-part-container > section {
        font-size: 50px;
    }
}

@media only screen and (max-width: 600px) {
    html, body {
        /*
        width: 100%;
        margin: 0px;
        padding: 0px;
        */
        overflow-x: hidden; 
    }
    body {
        overflow: scroll;
    }
    /*Hero Section*/

    .hero-text {
        font-size: 38px;
    }

    .hero-text > span {
        display: inline-block;
        background: linear-gradient(-90deg, rgba(0,0,0, 0.05),rgba(255, 255, 255, 0.9), white, rgba(0,0,0, 0.01));
    }
    /*Section 1 Part 1*/
    .section1-part1 {
        font-size: 40px;
        padding: 0px;
        text-align: center;
    }
    
    section.list1 {
        height: auto;
    }

    div.section1 > section.list1 > ul > li {
        display: inherit;
    }

    div.section1 > section.list1 > ul > li > img {
        width: 60%;
    }
    
    span.list-text {
        font-size: 70px;
    }
    /*Section 1 - Part 3*/
    .section1-part3 {
        background-color: white;
        color: black;
        width: 970px;
        margin: 0px auto;
        font-size: 40px;
    }

    body > div.section1 > section.section1-part-container > section > ul > li:before {
      content: '✓';
    }
    
    /**/
    .parallax {
        font-size: 40px;
    }
    
    div.parallax-container > section > section > h2 {
        width: 70%;
        margin: 0px
    }
    div.parallax-container > section > section > p {
        width: 70%;
        margin: 10px 0px 0px;
        font-size: 50px;
    }
    /*Brown Bar*/
    
    .brown-bar-container {
        height: 700px;
    }
    .brown-bar {
        height: 700px;
        width: 100%;
    }
    div.brown-bar-container > section > img {
        position: inherit;
        margin: 100px 0px 0px 80px;
    }
    .brown-bar-text {
        font-size: 46px;
    }
    /*Switch Section*/
    div.switch-section-container {
        font-size: 46px;
    }
    /*Red Section*/
    div.red-section {
        height: 1300px;
    }
    div.red-section > section {
        font-size: 46px;
    }
    /*Last Section*/
    
    .last-section-main-text, .last-section-text1 {
        font-size: 46px;
        padding: 30px 15px;
    }

    h1.last-section-first-heading {
        font-size: 56px;
        margin: 20px 0px;
    }
    .last-section-container1 {
        width: 100%;
        margin: 0px auto;
    }
    .arrow-image {
        margin: 0px auto;
        width: 100%;
    }
    section.arrow-image > img {
        width: 100%;
    }

}
